
    <head>

	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="">


	    <title>Transistor, bare bones radio APP [CATALÀ]</title>


        <meta name="designer" content="Jesús Camacho">
        <meta name="author" content="Jesús Camacho">
        <meta name="rating" content="general">
        <meta name="keywords" content="ghost, blog, Transistor, bare bones radio APP [CATALÀ]">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="msapplication-TileImage" content="/assets/images/windows-tile.png?v=0e7632ba36">
        <meta name="msapplication-TileColor" content="#262A2D">

        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta property="og:title" content="Transistor, bare bones radio APP [CATALÀ]">
        <meta property="og:locale" content="en_US">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="Transistor, bare bones radio APP [CATALÀ]">

        <link rel="icon" href="../favicon.ico">
        <link rel="icon" sizes="196x196" href="../assets/images/android-homescreen.png?v=0e7632ba36">
        <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png?v=0e7632ba36">

            <link rel="prerender" href="../content/images/2016/08/placeholder-big-2.jpg">
            <link rel="prefetch" href="../content/images/2016/08/placeholder-big-2.jpg">
        <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Signika:300,700" rel="stylesheet">

        <link rel="stylesheet" href="../assets/css/normalize.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/basics.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/animate.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/highlight.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/elakrab.css?v=0e7632ba36">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="../assets/js/html5shiv-printshiv.js?v=0e7632ba36"></script>
        <script src="../assets/js/respond.js?v=0e7632ba36"></script>

            <meta name="author" content="Jesús Camacho">
    <meta name="description" content="Transistor He realizado la traducción a mi lengua materna (catalán) de esta aplicación para Android que permite escuchar emisoras de radio por Internet. En l...">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://localhost:2368/transistor-bare-bones-radio-app-catala/">
    <meta property="twitter:url" content="http://localhost:2368/transistor-bare-bones-radio-app-catala/">
    <meta property="og:description" content="Transistor He realizado la traducción a mi lengua materna (catalán) de esta aplicación para Android que permite escuchar emisoras de radio por Internet. En l...">
    <meta property="twitter:description" content="Transistor He realizado la traducción a mi lengua materna (catalán) de esta aplicación para Android que permite escuchar emisoras de radio por Internet. En l...">
        <meta property="og:image" content="http://www.y20k.org/transistor/img/icon.png">
        <meta property="twitter:image" content="http://www.y20k.org/transistor/img/icon.png">


        <link rel="canonical" href="index.html">
    <meta name="referrer" content="origin-when-cross-origin">
    
    <meta property="og:site_name" content="Jesús CB">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Transistor, bare bones radio APP [CATALÀ]">
    <meta property="og:description" content="Transistor He realizado la traducción a mi lengua materna (catalán) de esta aplicación para Android que permite escuchar emisoras de radio por Internet. En la actualidad Transistor soporta MP· y OGG y las emisoras se tienen que añadir manualmente.        Transistor és una aplicació per escoltar programes de ràdio a través">
    <meta property="og:url" content="http://localhost:2368/transistor-bare-bones-radio-app-catala/">
    <meta property="og:image" content="http://www.y20k.org/transistor/img/icon.png">
    <meta property="article:published_time" content="2016-05-24T16:45:00.000Z">
    <meta property="article:modified_time" content="2016-08-25T16:49:36.000Z">
    <meta property="article:tag" content="Traducciones">
    <meta property="article:tag" content="Android">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Transistor, bare bones radio APP [CATALÀ]">
    <meta name="twitter:description" content="Transistor He realizado la traducción a mi lengua materna (catalán) de esta aplicación para Android que permite escuchar emisoras de radio por Internet. En la actualidad Transistor soporta MP· y OGG y las emisoras se tienen que añadir manualmente.        Transistor és una aplicació per escoltar programes de ràdio a través">
    <meta name="twitter:url" content="http://localhost:2368/transistor-bare-bones-radio-app-catala/">
    <meta name="twitter:image" content="http://www.y20k.org/transistor/img/icon.png">
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="Jesús Camacho">
    <meta name="twitter:label2" content="Filed under">
    <meta name="twitter:data2" content="Traducciones, Android">
    <meta name="twitter:site" content="@zagurito">
    <meta name="twitter:creator" content="@zagurito">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "Jesús CB",
        "logo": "http://localhost:2368/ghost/img/ghosticon.jpg"
    },
    "author": {
        "@type": "Person",
        "name": "Jesús Camacho",
        "image": "//www.gravatar.com/avatar/9620a9f3351ca1647c2548bb9d675b70?s=250&d=mm&r=x",
        "url": "http://localhost:2368/author/jesus/",
        "sameAs": [
            "http://www.portallinux.es",
            "https://twitter.com/zagurito"
        ],
        "description": "Desarrollo web y esas cosas. Autor de #PortalLinux, #PlanetLibre y #LibroDeTrucos. Me gusta el café, los gatos, la cerveza, dormir y el Heavy Metal.“BLABLABLA”"
    },
    "headline": "Transistor, bare bones radio APP [CATALÀ]",
    "url": "http://localhost:2368/transistor-bare-bones-radio-app-catala/",
    "datePublished": "2016-05-24T16:45:00.000Z",
    "dateModified": "2016-08-25T16:49:36.000Z",
    "image": "http://www.y20k.org/transistor/img/icon.png",
    "keywords": "Traducciones, Android",
    "description": "Transistor He realizado la traducción a mi lengua materna (catalán) de esta aplicación para Android que permite escuchar emisoras de radio por Internet. En la actualidad Transistor soporta MP· y OGG y las emisoras se tienen que añadir manualmente.        Transistor és una aplicació per escoltar programes de ràdio a través"
}
    </script>

    <meta name="generator" content="Ghost 0.9">
    <link rel="alternate" type="application/rss+xml" title="Jesús CB" href="../rss/index.html">

    </head>
    <body class="post-template tag-traducciones tag-android">
        <div id="page">
            <header>
                <nav class="animated fadeIn navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ElakrabToggleMenu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="../">
                            
                            <p class="title-blog">
                                Jesús CB
                            </p>
                        </a><!-- navbar-brand -->
                    </div><!-- navbar-header -->
                    <div id="ElakrabToggleMenu" class="collapse navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
    <!-- Loop through the navigation items -->
    <li class="nav-home"><a href="../">Home</a></li>
    <li class="nav-sobre-mi"><a href="../sobre-mi/">Sobre Mi</a></li>
    <li class="nav-blog"><a href="../tag/blog/">Blog</a></li>
    <li class="nav-proyectos"><a href="../tag/proyectos/">Proyectos</a></li>
    <li class="nav-documentaciones"><a href="../tag/documentaciones/">Documentaciones</a></li>
    <li class="nav-traduciones"><a href="../tag/traducciones/">Traduciones</a></li>
    <!-- End the loop -->
</ul>

                    </div><!-- #ElakrabGhostTheme -->
                </nav><!-- .navbar-default -->
            </header>

            <div class="container-fluid main-content-area">
                <div class="row">
                    <div id="content" class="">
                        

    
    <header class="post-header-image animated fadeIn" style="background-image: url(http://www.y20k.org/transistor/img/icon.png);">
        <div class="col-md-8 col-md-offset-2" data-stellar-ratio="0.75">
            <div class="meta-info-post col-md-2">
                <div class="meta-info-post text-right sample animated fadeIn">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time class="timeago" datetime="2016-05-24T16:45:00+00:00" title="May 24 '16 at 16:45">5 months ago</time>
    </div>
    <div class="tags animated fadeInUp">
            <strong>Tags</strong>
            <a href="../tag/traducciones/">Traducciones</a><a href="../tag/android/">Android</a>
    </div>
</div>
            </div><!-- .meta-info-post -->
            <div class="col-md-10">
                <h1 class="title-post">Transistor, bare bones radio APP [CATALÀ]</h1>
            </div>
        </div>
    </header>

    <div class="article-content col-md-8 col-md-offset-2">
        <article class="animated fadeIn post tag-traducciones tag-android">
    <div class="content-post">
        <h1 id="transistor">Transistor</h1>

<p>He realizado la traducción a mi lengua materna (catalán) de esta aplicación para Android que permite escuchar emisoras de radio por Internet. En la actualidad Transistor soporta MP· y OGG y las emisoras se tienen que añadir manualmente.</p>

<div class="col-md-4">  
    <strong>Transistor</strong> és una aplicació per escoltar programes de ràdio a través d’Internet. L’aplicació emmagatzema les emissores en fitxers dins del emmagatzematge extern. Pots cercar aquests fitxers M3U dins de <strong>/Android/data/org.y20k.transistor/Collection</strong>. En l’actualitat pot reproduir fitxers en MP3 i OGG.
</div>  

<div class="col-md-4">  
   <strong>Transistor</strong> es una aplicación simple para escuchar programas de radio por Internet. La aplicación almacena las estaciones como archivos en el almacenamiento externo de tu dispositivo. Busca los archivos del tipo m3u en <strong>/Android/data/org.y20k.transistor/Collection</strong>. Actualmente soporta streams codificados en MP3 y OGG.
</div>  

<div class="col-md-4">  
    <strong>Transistor</strong> is a bare bones app for listening to radio programs over the internet. The app stores stations as files on your device’s external storage. Look for files of type m3u within <strong>/Android/data/org.y20k.transistor/Collection</strong>. It currently understands streams encoded in MP3 and OGG.
</div>  

<div class="clearfix"></div>

<h1 id="informacin">Información</h1>

<ul>
<li>Web: <a href="http://www.y20k.org/transistor/">Web Oficial</a></li>
<li>Registro de problemas: <a href="https://github.com/y20k/transistor/issues">Problemas</a></li>
<li>Código Fuente: <a href="https://github.com/y20k/transistor">GitHub</a></li>
<li>Licencia: <a href="https://www.gnu.org/licenses/license-list.html#X11License">MIT</a></li>
</ul>

<h1 id="imgenes">Imágenes</h1>

<p><img src="https://lh3.googleusercontent.com/1C_zqJv0u27kT4XvlWqz1MKD9cKECoHIR65aDDVmFwVZDl0AytcLz8ra7IpV2jFz4Uo=h900" alt="APP Transistor"></p>

<p><img src="https://lh3.googleusercontent.com/aIzT-ZnXnbPJzaJL2Ues9_Cjzw1uTSaZpIPhMh7ssT1nf7rE4fKsackIFZOeYjNu6Q=h900" alt="APP Transistor"></p>

<h1 id="descargar">Descargar</h1>

<p></p><center> <br>
<a href="https://f-droid.org/repository/browse/?fdid=org.y20k.transistor" class="btn btn-danger"><span class="fa fa-download"> </span> Descargar [F-Droid]</a> <a href="https://play.google.com/store/apps/details?id=org.y20k.transistor" class="btn btn-danger"><span class="fa fa-download"> </span> Descargar [Google Play]</a> <br>
</center>
    </div>
</article>
        <div class="share">
    <ul class="navbar-right list-inline">
        <li>Share this: </li>
        <li>
            <a role="button" class="btn bnt-default" href="http://twitter.com/share?text=Transistor%2C%20bare%20bones%20radio%20APP%20%5BCATAL%C3%80%5D&amp;url=http://localhost:2368/transistor-bare-bones-radio-app-catala/">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
        </li>
        <li>
            <a role="button" class="btn bnt-default" href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:2368/transistor-bare-bones-radio-app-catala/">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
        </li>
        <li>
            <a role="button" class="btn bnt-default" href="https://plus.google.com/share?url=http://localhost:2368/transistor-bare-bones-radio-app-catala/">
                <i class="fa fa-google-plus" aria-hidden="true"></i> Google+
            </a>
        </li>
    </ul>
</div>
    </div>

    <div class="author-post col-md-8 col-md-offset-2 animated fadeIn clearfix">
        <div class="col-md-1 col-md-offset-1">
            <img class="img-responsive img-circle" src="http://www.gravatar.com/avatar/9620a9f3351ca1647c2548bb9d675b70?s=250&amp;d=mm&amp;r=x" alt="Jesús Camacho">
        </div>
        <div class="col-md-8">
            <div class="info">
                <a href="../author/jesus/" class="name">Jesús Camacho</a>
                <p class="bio">Desarrollo web y esas cosas. Autor de #PortalLinux, #PlanetLibre y #LibroDeTrucos. Me gusta el café, los gatos, la cerveza, dormir y el Heavy Metal.“BLABLABLA”</p>
            </div>
            <ul class="navbar-right list-inline">
                <li><a href="https://twitter.com/zagurito"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li>
            </ul>
        </div>
    </div><!-- author-post -->



                    </div><!-- #content -->
                </div><!-- .row -->
            </div><!-- .main -->

            <footer id="footer" class="animated fadeInUp">
        		<div class="container-fluid">
        		     <div class="row">
        				<div class="col-md-12">
        					<div class="footer">
        						<p class="text-left">
                                    Jesús Camacho
        						</p>
                                <p class="text-right">
                                    <a href="https://gitlab.com/zagur/ElakrabGhostTheme">Elakrab Theme</a>
                                </p>
        					</div><!-- .footer -->
        				</div><!-- .col-md-12 -->
        			</div><!-- .row -->
        	    </div><!-- .container-fluid -->
        	</footer>

        </div><!-- #page -->

        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write('<script type="text/javascript" src="../assets/js/jquery-1.11.3.min.js?v=0e7632ba36"></'+'script>');
        }
        </script>

        <script src="../assets/js/fastclick.js?v=0e7632ba36"></script>
        <script src="../assets/js/stellar.js?v=0e7632ba36"></script>
        <script src="../assets/js/highlight.js?v=0e7632ba36"></script>
        <script src="../assets/js/bootstrap.min.js?v=0e7632ba36"></script>
        <script src="../assets/js/phantom.js?v=0e7632ba36"></script>
        <script src="../assets/js/jquery.timeago.min.js?v=0e7632ba36"></script>

        <script>jQuery(document).ready(function() { jQuery("time.timeago").timeago(); });</script>

    </body>
