
    <head>

	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="">


	    <title>Presentación - Jesús CB</title>

       
        <meta name="designer" content="Jesús Camacho">
        <meta name="author" content="Jesús Camacho">
        <meta name="rating" content="general">
        <meta name="keywords" content="ghost, blog, Presentación - Jesús CB">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="msapplication-TileImage" content="/assets/images/windows-tile.png?v=ebea5868f2">
        <meta name="msapplication-TileColor" content="#262A2D">

        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta property="og:title" content="Presentación - Jesús CB">
        <meta property="og:locale" content="en_US">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="Presentación - Jesús CB">

        <link rel="icon" href="../../favicon.ico">
        <link rel="icon" sizes="196x196" href="../../assets/images/android-homescreen.png?v=ebea5868f2">
        <link rel="apple-touch-icon" href="../../assets/images/apple-touch-icon.png?v=ebea5868f2">

            <link rel="prerender" href="../../content/images/2016/08/code-blur.jpg">
            <link rel="prefetch" href="../../content/images/2016/08/code-blur.jpg">
        <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Signika:300,700" rel="stylesheet">

        <link rel="stylesheet" href="../../assets/css/normalize.css?v=ebea5868f2">
        <link rel="stylesheet" href="../../assets/css/basics.css?v=ebea5868f2">
        <link rel="stylesheet" href="../../assets/css/animate.css?v=ebea5868f2">
        <link rel="stylesheet" href="../../assets/css/highlight.css?v=ebea5868f2">
        <link rel="stylesheet" href="../../assets/css/bootstrap.min.css?v=ebea5868f2">
        <link rel="stylesheet" href="../../assets/css/phantom.css?v=ebea5868f2">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="../../assets/js/html5shiv-printshiv.js?v=ebea5868f2"></script>
        <script src="../../assets/js/respond.js?v=ebea5868f2"></script>

        

        <link rel="canonical" href="index.html">
    <meta name="referrer" content="origin-when-cross-origin">
    
    <meta property="og:site_name" content="Jesús CB">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Presentación - Jesús CB">
    <meta property="og:url" content="http://localhost:2368/tag/presentacion/">
    <meta property="article:modified_time" content="2016-08-24T17:59:24.000Z">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Presentación - Jesús CB">
    <meta name="twitter:url" content="http://localhost:2368/tag/presentacion/">
    <meta name="twitter:site" content="@zagurito">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Series",
    "publisher": "Jesús CB",
    "url": "http://localhost:2368/tag/presentacion/",
    "name": "Presentación"
}
    </script>

    <meta name="generator" content="Ghost 0.9">
    <link rel="alternate" type="application/rss+xml" title="Jesús CB" href="../../rss/index.html">

    </head>
    <body class="tag-template tag-presentacion">
        <div id="page">
            <header>
                <nav class="animated fadeIn navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ElakrabToggleMenu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="../../">
                            
                            <p class="title-blog">
                                Jesús CB
                            </p>
                        </a><!-- navbar-brand -->
                    </div><!-- navbar-header -->
                    <div id="ElakrabToggleMenu" class="collapse navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
    <!-- Loop through the navigation items -->
    <li class="nav-home"><a href="../../">Home</a></li>
    <!-- End the loop -->
</ul>

                    </div><!-- #ElakrabGhostTheme -->
                </nav><!-- .navbar-default -->
            </header>

            <div class="container-fluid main-content-area">
                <div class="row">
                    <div id="content" class="">
                        
<header class="animated fadeIn" style="background-image: url(../../content/images/2016/08/code-blur.jpg)">
    <div class="container" data-stellar-ratio="0.75">
        <div class="title animated fadeInUp">
            <h1>Presentación</h1>
            <div class="share">
    Share this on <a id="twitter" href="http://twitter.com/share?text=%5Bobject%20Object%5D&amp;url=http://localhost:2368/tag/presentacion/">Twitter</a>, <a id="facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:2368/tag/presentacion/">Facebook</a> or <a id="google-plus" href="https://plus.google.com/share?url=http://localhost:2368/tag/presentacion/">Google+</a>.
</div>
        </div>
        <div class="sidebar text-right meta">
            <div class="published animated fadeInUp">
                <strong>1 article</strong>
            </div>
        </div>
    </div>
</header>


    <!-- Post in home -->
    <article class="post tag-presentacion col-md-8 col-md-offset-2">
        <div class="col-md-2 col-sm-2">
            <div class="meta-info-post text-right sample animated fadeIn">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time class="timeago" datetime="2016-05-21T17:56:00+00:00" title="May 21 '16 at 17:56">3 months ago</time>
    </div>
    <div class="tags animated fadeInUp">
            <strong>Tags</strong>
            <a href="index.html">Presentación</a>
    </div>
</div>
        </div><!-- .meta-info-post -->

        <div class="post-article col-md-10 col-sm-10">
            <div class="header-post sample animated fadeIn">
                <a href="../../hola-mundo/">
                    <div class="image-background animated fadeInRight" style="background-image: url(../../content/images/2016/08/learningtoprogram.jpg); background-size:cover;">
                        <div class="" data-stellar-ratio="0.75"></div>
                    </div>
                </a>
                <div class="animated fadeInUp">
                    <a href="../../hola-mundo/">
                        <h1 class="title-post">¡Hola Mundo!</h1>
                    </a>
                </div>
            </div><!-- .header-post -->

            <div class="content-post animated fadeIn">
                <p class="excerpt">Me presento, soy Jesús Camacho y he estudiado Desarrollo de Aplicaciones Web y Administración de Sistemas y Redes. Si me hicieras escoger entre una de estas dos profesiones: no podría. Son mis dos pasiones y me encantan, ja sea crear una aplicación web, maquetarla, programar, front end o back end… hasta configurar un servidor web u otra tipo de infraestructura. Creo este sitio web con el objetivo de centralizar aquí mis proyectos y las documentaciones de dichos proyectos. Utilizo Ghost porque después de aprender a usarlo me parece una muy buena alternativa y para el uso que le voy a…</p>
            </div><!-- .content-post -->
        </div><!-- .post-article -->
    </article>


<nav class="col-md-8 col-md-offset-2" aria-label="...">
    <ul class="pager text-right">
        <span class="page-number text-center">Page 1 of 1</span>
    </ul>
</nav>


                    </div><!-- #content -->
                </div><!-- .row -->
            </div><!-- .main -->

            <footer id="footer" class="animated fadeInUp">
        		<div class="container-fluid">
        		     <div class="row">
        				<div class="col-md-12">
        					<div class="footer">
        						<p class="text-left">
                                    Jesús Camacho
        						</p>
                                <p class="text-right">
                                    <a href="https://gitlab.com/zagur/ElakrabGhostTheme">Elakrab Theme</a>
                                </p>
        					</div><!-- .footer -->
        				</div><!-- .col-md-12 -->
        			</div><!-- .row -->
        	    </div><!-- .container-fluid -->
        	</footer>

        </div><!-- #page -->

        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write('<script type="text/javascript" src="../../assets/js/jquery-1.11.3.min.js?v=ebea5868f2"></'+'script>');
        }
        </script>

        <script src="../../assets/js/fastclick.js?v=ebea5868f2"></script>
        <script src="../../assets/js/stellar.js?v=ebea5868f2"></script>
        <script src="../../assets/js/highlight.js?v=ebea5868f2"></script>
        <script src="../../assets/js/bootstrap.min.js?v=ebea5868f2"></script>
        <script src="../../assets/js/phantom.js?v=ebea5868f2"></script>
        <script src="../../assets/js/jquery.timeago.min.js?v=ebea5868f2"></script>

        <script>jQuery(document).ready(function() { jQuery("time.timeago").timeago(); });</script>

    </body>
