
    <head>

	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="Desarrollo web y esas cosas. Autor de #PortalLinux, #PlanetLibre y #LibroDeTrucos. Me gusta el café, los gatos, la cerveza, dormir y el Heavy Metal.“BLABLABLA”">


	    <title>Jesús Camacho - Page 1 - Jesús CB</title>


        <meta name="designer" content="Jesús Camacho">
        <meta name="author" content="Jesús Camacho">
        <meta name="rating" content="general">
        <meta name="keywords" content="ghost, blog, Jesús Camacho - Page 1 - Jesús CB">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="msapplication-TileImage" content="/assets/images/windows-tile.png?v=0e7632ba36">
        <meta name="msapplication-TileColor" content="#262A2D">

        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta property="og:title" content="Jesús Camacho - Page 1 - Jesús CB">
        <meta property="og:locale" content="en_US">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="Jesús Camacho - Page 1 - Jesús CB">

        <link rel="icon" href="../../favicon.ico">
        <link rel="icon" sizes="196x196" href="../../assets/images/android-homescreen.png?v=0e7632ba36">
        <link rel="apple-touch-icon" href="../../assets/images/apple-touch-icon.png?v=0e7632ba36">

            <link rel="prerender" href="../../content/images/2016/08/placeholder-big-2.jpg">
            <link rel="prefetch" href="../../content/images/2016/08/placeholder-big-2.jpg">
        <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Signika:300,700" rel="stylesheet">

        <link rel="stylesheet" href="../../assets/css/normalize.css?v=0e7632ba36">
        <link rel="stylesheet" href="../../assets/css/basics.css?v=0e7632ba36">
        <link rel="stylesheet" href="../../assets/css/animate.css?v=0e7632ba36">
        <link rel="stylesheet" href="../../assets/css/highlight.css?v=0e7632ba36">
        <link rel="stylesheet" href="../../assets/css/bootstrap.min.css?v=0e7632ba36">
        <link rel="stylesheet" href="../../assets/css/elakrab.css?v=0e7632ba36">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="../../assets/js/html5shiv-printshiv.js?v=0e7632ba36"></script>
        <script src="../../assets/js/respond.js?v=0e7632ba36"></script>

        

        <link rel="canonical" href="index.html">
    <meta name="referrer" content="origin-when-cross-origin">
    <link rel="next" href="page/2/index.html">
    
    <meta property="og:site_name" content="Jesús CB">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Jesús Camacho - Page 1 - Jesús CB">
    <meta property="og:description" content="Desarrollo web y esas cosas. Autor de #PortalLinux, #PlanetLibre y #LibroDeTrucos. Me gusta el café, los gatos, la cerveza, dormir y el Heavy Metal.“BLABLABLA”">
    <meta property="og:url" content="http://localhost:2368/author/jesus/">
    <meta property="og:image" content="http://localhost:2368/content/images/2016/08/placeholder-big-1.jpg">
    <meta property="article:modified_time" content="2016-10-17T13:31:00.000Z">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Jesús Camacho - Page 1 - Jesús CB">
    <meta name="twitter:description" content="Desarrollo web y esas cosas. Autor de #PortalLinux, #PlanetLibre y #LibroDeTrucos. Me gusta el café, los gatos, la cerveza, dormir y el Heavy Metal.“BLABLABLA”">
    <meta name="twitter:url" content="http://localhost:2368/author/jesus/">
    <meta name="twitter:image" content="http://localhost:2368/content/images/2016/08/placeholder-big-1.jpg">
    <meta name="twitter:site" content="@zagurito">
    <meta name="twitter:creator" content="@zagurito">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Person",
    "sameAs": [
        "http://www.portallinux.es",
        "https://twitter.com/zagurito"
    ],
    "name": "Jesús Camacho",
    "url": "http://localhost:2368/author/jesus/",
    "image": "http://localhost:2368/content/images/2016/08/placeholder-big-1.jpg",
    "description": "Desarrollo web y esas cosas. Autor de #PortalLinux, #PlanetLibre y #LibroDeTrucos. Me gusta el café, los gatos, la cerveza, dormir y el Heavy Metal.“BLABLABLA”"
}
    </script>

    <meta name="generator" content="Ghost 0.9">
    <link rel="alternate" type="application/rss+xml" title="Jesús CB" href="../../rss/index.html">

    </head>
    <body class="author-template author-jesus">
        <div id="page">
            <header>
                <nav class="animated fadeIn navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ElakrabToggleMenu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="../../">
                            
                            <p class="title-blog">
                                Jesús CB
                            </p>
                        </a><!-- navbar-brand -->
                    </div><!-- navbar-header -->
                    <div id="ElakrabToggleMenu" class="collapse navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
    <!-- Loop through the navigation items -->
    <li class="nav-home"><a href="../../">Home</a></li>
    <li class="nav-sobre-mi"><a href="../../sobre-mi/">Sobre Mi</a></li>
    <li class="nav-blog"><a href="../../tag/blog/">Blog</a></li>
    <li class="nav-proyectos"><a href="../../tag/proyectos/">Proyectos</a></li>
    <li class="nav-documentaciones"><a href="../../tag/documentaciones/">Documentaciones</a></li>
    <li class="nav-traduciones"><a href="../../tag/traducciones/">Traduciones</a></li>
    <!-- End the loop -->
</ul>

                    </div><!-- #ElakrabGhostTheme -->
                </nav><!-- .navbar-default -->
            </header>

            <div class="container-fluid main-content-area">
                <div class="row">
                    <div id="content" class="">
                        
<header class="post-header-image sample animated fadeIn" style="background-image: url(../../content/images/2016/08/placeholder-big-1.jpg);">
    <div class="col-md-8 col-md-offset-2" data-stellar-ratio="0.75">
        <div class="meta-info-post col-md-2">
            <div class="meta-info-post text-right sample animated fadeIn">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time class="timeago" datetime="2016-10-17T14:06:58+00:00" title="October 17 '16 at 14:06">a few seconds ago</time>
    </div>
    <div class="tags animated fadeInUp">
    </div>
</div>
        </div><!-- .meta-info-post -->
        <div class="col-md-10 animated fadeIn">
                <h1 class="title-post">Jesús Camacho</h1>
                <p>Desarrollo web y esas cosas. Autor de #PortalLinux, #PlanetLibre y #LibroDeTrucos. Me gusta el café, los gatos, la cerveza, dormir y el Heavy Metal.“BLABLABLA”</p>
                <strong class="article-count text-center"></strong>
        </div>
    </div>
</header>


    <!-- Post in home -->
    <article class="post tag-bootstrap tag-wordpress-2 col-md-8 col-md-offset-2">
        <div class="col-md-2 col-sm-2">
            <div class="meta-info-post text-right sample animated fadeIn">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time class="timeago" datetime="2016-10-17T13:32:00+00:00" title="October 17 '16 at 13:32">35 minutes ago</time>
    </div>
    <div class="tags animated fadeInUp">
            <strong>Tags</strong>
            <a href="../../tag/bootstrap/">#bootstrap</a><a href="../../tag/wordpress-2/">#Wordpress</a>
    </div>
</div>
        </div><!-- .meta-info-post -->

        <div class="post-article col-md-10 col-sm-10">
            <div class="header-post sample animated fadeIn">
                <a href="../../betelgeuse-theme-wordpress-theme/">
                    <div class="image-background animated fadeInRight" style="background-image: url(../../content/images/2016/10/betelgeuse-theme-preview-1.jpg); background-size:cover; background-position: center;">
                        <div class="" data-stellar-ratio="0.75"></div>
                    </div>
                </a>
                <div class="animated fadeInUp">
                    <a href="../../betelgeuse-theme-wordpress-theme/">
                        <h1 class="title-post">Betelgeuse Theme [WordPress Theme]</h1>
                    </a>
                </div>
            </div><!-- .header-post -->

            <div class="content-post animated fadeIn">
                <p class="excerpt">Betelgeuse Theme para Wordpress     Demo   Descargar   Documentación   GitLab  Betelgeuse es una plantilla basada en Bootstrap, por lo que le hace ser una plantilla 100% responsive y adaptative. Se puede visualizar tanto en ordenador, como en tableta o smartphone. Actualmente está en una fase beta de pruebas. Es una plantilla que utilizo en mi segundo proyecto web, un planet de noticias sobre Software Libre, Hardware Libre y GNU/Linux.                                               Última versión                                           Fecha de publicación                                           Registro de cambios                                                                                  Betelgeuse Theme 0.2.8                                                       26 de julio 2016                                                       ChangeLog                                             Características Sencillo tema con Flat design. Diseño adaptativo (responsive design) gracias a Bootstrap Framework.…</p>
            </div><!-- .content-post -->
        </div><!-- .post-article -->
    </article>


    <!-- Post in home -->
    <article class="post tag-proyectos tag-wordpress tag-theme col-md-8 col-md-offset-2">
        <div class="col-md-2 col-sm-2">
            <div class="meta-info-post text-right sample animated fadeIn">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time class="timeago" datetime="2016-08-25T16:26:42+00:00" title="August 25 '16 at 16:26">2 months ago</time>
    </div>
    <div class="tags animated fadeInUp">
            <strong>Tags</strong>
            <a href="../../tag/proyectos/">Proyectos</a><a href="../../tag/wordpress/">WordPress</a><a href="../../tag/theme/">Theme</a>
    </div>
</div>
        </div><!-- .meta-info-post -->

        <div class="post-article col-md-10 col-sm-10">
            <div class="header-post sample animated fadeIn">
                <a href="../../alpheratz-theme-wordpress-theme/">
                    <div class="image-background animated fadeInRight" style="background-image: url(../../content/images/2016/08/alpheratz-theme-preview-1.jpg); background-size:cover; background-position: center;">
                        <div class="" data-stellar-ratio="0.75"></div>
                    </div>
                </a>
                <div class="animated fadeInUp">
                    <a href="../../alpheratz-theme-wordpress-theme/">
                        <h1 class="title-post">Alpheratz Theme [WordPress Theme]</h1>
                    </a>
                </div>
            </div><!-- .header-post -->

            <div class="content-post animated fadeIn">
                <p class="excerpt">Alpheratz Theme para Wordpress     Demo   Descargar   Documentación   GitLab  Alpheratz es una plantilla basada en Bootstrap, por lo que le hace ser una plantilla 100% responsive y adaptative. Se puede visualizar tanto en ordenador, como en tableta o smartphone. Actualmente está en una base beta de pruebas. Es una plantilla que utilizo en mi blog principal sobre GNU/Linux, Software Libre y otros temas de SysAdmin.                                               Última versión                                           Fecha de publicación                                           Registro de cambios                                                                                  Alpheratz Theme 0.8.5                                                       30 de julio 2016                                                       ChangeLog                                             Características Sencillo tema con Flat design. Diseño adaptativo (responsive design) gracias a Bootstrap Framework. Compatible con los…</p>
            </div><!-- .content-post -->
        </div><!-- .post-article -->
    </article>


    <!-- Post in home -->
    <article class="post tag-traducciones tag-android col-md-8 col-md-offset-2">
        <div class="col-md-2 col-sm-2">
            <div class="meta-info-post text-right sample animated fadeIn">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time class="timeago" datetime="2016-05-24T16:45:00+00:00" title="May 24 '16 at 16:45">5 months ago</time>
    </div>
    <div class="tags animated fadeInUp">
            <strong>Tags</strong>
            <a href="../../tag/traducciones/">Traducciones</a><a href="../../tag/android/">Android</a>
    </div>
</div>
        </div><!-- .meta-info-post -->

        <div class="post-article col-md-10 col-sm-10">
            <div class="header-post sample animated fadeIn">
                <a href="../../transistor-bare-bones-radio-app-catala/">
                    <div class="image-background animated fadeInRight" style="background-image: url(http://www.y20k.org/transistor/img/icon.png); background-size:cover; background-position: center;">
                        <div class="" data-stellar-ratio="0.75"></div>
                    </div>
                </a>
                <div class="animated fadeInUp">
                    <a href="../../transistor-bare-bones-radio-app-catala/">
                        <h1 class="title-post">Transistor, bare bones radio APP [CATALÀ]</h1>
                    </a>
                </div>
            </div><!-- .header-post -->

            <div class="content-post animated fadeIn">
                <p class="excerpt">Transistor He realizado la traducción a mi lengua materna (catalán) de esta aplicación para Android que permite escuchar emisoras de radio por Internet. En la actualidad Transistor soporta MP· y OGG y las emisoras se tienen que añadir manualmente.        Transistor és una aplicació per escoltar programes de ràdio a través d’Internet. L’aplicació emmagatzema les emissores en fitxers dins del emmagatzematge extern. Pots cercar aquests fitxers M3U dins de /Android/data/org.y20k.transistor/Collection. En l’actualitat pot reproduir fitxers en MP3 i OGG.          Transistor es una aplicación simple para escuchar programas de radio por Internet. La aplicación…</p>
            </div><!-- .content-post -->
        </div><!-- .post-article -->
    </article>


    <!-- Post in home -->
    <article class="post tag-librodetrucos tag-gnu-linux tag-sistemas col-md-8 col-md-offset-2">
        <div class="col-md-2 col-sm-2">
            <div class="meta-info-post text-right sample animated fadeIn">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time class="timeago" datetime="2016-05-23T16:28:00+00:00" title="May 23 '16 at 16:28">5 months ago</time>
    </div>
    <div class="tags animated fadeInUp">
            <strong>Tags</strong>
            <a href="../../tag/librodetrucos/">LibroDeTrucos</a><a href="../../tag/gnu-linux/">GNU/Linux</a><a href="../../tag/sistemas/">Sistemas</a>
    </div>
</div>
        </div><!-- .meta-info-post -->

        <div class="post-article col-md-10 col-sm-10">
            <div class="header-post sample animated fadeIn">
                <a href="../../libro-de-trucos-para-gnu-linux/">
                    <div class="image-background animated fadeInRight" style="background-image: url(http://portallinux.es/librodetrucos/OldBackup/images/svg/portada.svg); background-size:cover; background-position: center;">
                        <div class="" data-stellar-ratio="0.75"></div>
                    </div>
                </a>
                <div class="animated fadeInUp">
                    <a href="../../libro-de-trucos-para-gnu-linux/">
                        <h1 class="title-post">Libro de Trucos para GNU/Linux</h1>
                    </a>
                </div>
            </div><!-- .header-post -->

            <div class="content-post animated fadeIn">
                <p class="excerpt">Sobre Libro De Trucos Los famosos cubos, que todos hemos montado alguna vez, había muy poco espacio y acabamos con comandos muy simples y siempre nos faltaba alguno para hacer algo y teníamos que buscar por Internet en ayuda de Saint Google. Así que crear un libro de 6 páginas permite tener más comandos y comentarios necesarios para entender algunos comandos. Realmente hay tanto espacio que me he permetido el lujo de añadir un mini tutorial de como recuperar en grup en 4 sencillos pasos! Ya que todo el mundo le ha pasado, si no entiendes de tema, casi siempre…</p>
            </div><!-- .content-post -->
        </div><!-- .post-article -->
    </article>


    <nav class="col-md-8 col-md-offset-2" aria-label="...">
    <ul class="pager text-right">
        <span class="page-number text-center">Page 1 of 2</span>
        <li><a href="page/2/">Newer <i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    </ul>
</nav>


                    </div><!-- #content -->
                </div><!-- .row -->
            </div><!-- .main -->

            <footer id="footer" class="animated fadeInUp">
        		<div class="container-fluid">
        		     <div class="row">
        				<div class="col-md-12">
        					<div class="footer">
        						<p class="text-left">
                                    Jesús Camacho
        						</p>
                                <p class="text-right">
                                    <a href="https://gitlab.com/zagur/ElakrabGhostTheme">Elakrab Theme</a>
                                </p>
        					</div><!-- .footer -->
        				</div><!-- .col-md-12 -->
        			</div><!-- .row -->
        	    </div><!-- .container-fluid -->
        	</footer>

        </div><!-- #page -->

        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write('<script type="text/javascript" src="../../assets/js/jquery-1.11.3.min.js?v=0e7632ba36"></'+'script>');
        }
        </script>

        <script src="../../assets/js/fastclick.js?v=0e7632ba36"></script>
        <script src="../../assets/js/stellar.js?v=0e7632ba36"></script>
        <script src="../../assets/js/highlight.js?v=0e7632ba36"></script>
        <script src="../../assets/js/bootstrap.min.js?v=0e7632ba36"></script>
        <script src="../../assets/js/phantom.js?v=0e7632ba36"></script>
        <script src="../../assets/js/jquery.timeago.min.js?v=0e7632ba36"></script>

        <script>jQuery(document).ready(function() { jQuery("time.timeago").timeago(); });</script>

    </body>
