/*
Theme Name: Elakrab Theme
Theme URI: https://gitlab.com/zagur/ElakrabGhostTheme
Author: Jesús Camacho
Author URI: http://zagur.gitlab.io
Description: Personal webpage for projects
Version: 0.2
License: GNU Public Licence version 2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: Ghost, Free Software, personal web, gitlab page
*/

/* CONTENT CSS

+ FONTS
+ KEY-FRAMES
+ GLOBAL
+ CONTENT
+ NAV MENU
+ HOME PAGE
+ POST HEADER
+ POST PAGE
+ SIDEBAR
+ AUTHOR
+ PAGINATION
+ COMMENTS
+ FOOTER
+ MEDIA QUERIES

*/

/* COLORS
Red: #F44336;
*/

/* FONTS */


/* KEY-FRAMES */
@-webkit-keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,20px,0);
		transform:translate3d(0,20px,0);
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		transform:none;
	}
}
@keyframes fadeInUp {
	0% {
		opacity:0;
		-webkit-transform:translate3d(0,20px,0);
		-ms-transform:translate3d(0,20px,0);
		transform:translate3d(0,20px,0);
	}
	100% {
		opacity:1;
		-webkit-transform:none;
		-ms-transform:none;
		transform: none;
	}
}

/* GLOBAL */
body {
	font-family: 'Signika', sans-serif;
	font-weight:300;
}

h1, .h1 {
	font-size: 42px;
}

h2, .h2 {
	font-size: 38px;
}

h3, .h3 {
	font-size: 34px;
}

h4, .h4 {
	font-size: 30px;
}

h5, .h5 {
	font-size: 26px;
}

h6, .h6 {
	font-size: 22px;
}

p, ul, ol {
	margin-bottom:40px;
	font-size:18px;
	font-weight:300;
	line-height:30px;
	letter-spacing:0;
	color:#7f8c8d;
}

ul ul, ol ul, ul ol, ol ol {
	margin-bottom:0;
}

blockquote {
    border-left: 3px solid #f44336;
    padding-left: 20px;
}

a {
	color:#7f8c8d;
	text-decoration:none;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

a:hover {
	color: #F44336;
	text-decoration: none;
}

strong {
	font-weight:600;
}

pre {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    padding: 0;
	border-radius: 0px;
}

code {
	background-color: rgba(239, 83, 80, 0.8);
    border-radius: 2px;
    color: #454545;
    font-size: 90%;
    padding: 2px 4px;
}

.hljs {
	padding: 20px;
	border-radius: 0px;
	line-height: 1.5em;
	background-color: #212121;
}


/* CONTENT */
.main-content-area {
	margin-top: 40px;
}

.post-template .main-content-area,
.tag-template .main-content-area,
.author-template .main-content-area {
	margin-top: 0px;
}

/* NAV MENU */
.navbar-default {
	height:90px;
	font-weight:100;
	background:#3F5463;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	margin-bottom: 0px;
	border: none;
	border-radius: 0px;
}

.navbar-brand {
	height: 90px;
	padding: 0px;
}

.navbar-brand .title-blog {
    font-family: "Oswald";
    font-size: 28px;
    line-height: 90px;
    margin-left: 50px;
	color: #FFF;
}

.navbar-collapse ul {
	margin-right: 50px;
}

.navbar-collapse ul li a {
    font-family: "Oswald";
    font-size: 15px;
    line-height: 60px;
    text-transform: uppercase;
	color: #FFF!important;
}

.navbar-default .navbar-nav li a:hover {
	background-color: #5C6471;
}

/* HOME PAGE */
.image-background {
	height: 300px;
	position: relative;
}

.title-post {
    font-family: "Lato";
    font-size: 42px;
    margin: 0;
    padding: 30px 0 10px;
	-webkit-animation-delay:.5s;
	animation-delay:.5s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}

.content-post p.excerpt {
    font-size: 16px;
    font-weight: 200;
}

/* POST HEADER */
.post-header-image {
	position:relative;
	font-weight:300;
	color:#fff;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	-webkit-animation-duration:3s;
	animation-duration:3s;
	height: 400px;
}

.post-header-image:before {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(36, 43, 47, 0.8);
	content:"";
}

.post-header-image div {
    margin-top: 30px;
}



/* POST PAGE */
.article-content {
	padding-top:40px;
}

article {
	-webkit-animation-delay:1.25s;
	animation-delay:1.25s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
	padding:20px 0;
}

/* SIDEBAR */
.published {
	-webkit-animation-delay:.75s;
	animation-delay:.75s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}

.published time,
.tags a {
	font-weight:300;
	color:#7f8c8d;
}

.published time {
	float: right;
}

.tags {
	margin-top:30px;
	-webkit-animation-delay:1s;
	animation-delay:1s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}

.tags a {
	text-transform: capitalize;
	display: block;
	border: none;
}

/* AUTHOR */
.author-post {
    border-top: 1px solid #7f8c8d;
    padding: 30px 0;
}

.info {
    margin-left: 16px;
}

.info .name {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* PAGINATION */
.pager {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.page-number {
	font-weight: 600;
}

.pager li > a,
.pager li > span {
	border: medium none;
	border-radius: 0;
	transition: all .5s;
}

.pager li > a:hover {
	background-color: #454545;
	color: #FFF;
	transition: all .5s;
}

/* COMMENTS */
.comments, footer {
	padding:120px 0;
}

.author, .comments {
	-webkit-animation-delay:1.5s;
	animation-delay:1.5s;
	-webkit-animation-duration:1s;
	animation-duration:1s;
}
.comments {
	background:#f2f3f4;
}

/* FOOTER */
#footer {
    background-color: #212121;
    display: table;
    height: 100px;
    padding: 0 40px;
    width: 100%;
}

#footer .footer p {
    color: #555;
    font-size: 12px;
    letter-spacing: 0.2em;
    margin-top: 45px;
    text-transform: uppercase;
}

#footer .footer p a {
	color: #555;
}

.footer p {
    float: left;
    width: 50%;
}







/* OTHER CSS DESCONOCIDO */
/*-----------------------------------------------------------------------------------------------------*/
.content {
	line-height:90px;
	margin:0;
}

.paged .title {
	margin-top: 20px;
}
.article-count {
	margin-top: 20px;
}
.

.page footer {
	border-top:2px solid #f2f3f4;
}
header .share a {
	border:none;
}

.sample .title a, .sample .meta strong {
	color:#464c4c;
}
.blog-cover {
	padding: 180px 8%;
	text-align: center;
}
.blog-title {
	font-size: 75px;
	line-height: 75px;
	font-weight: 200;
	position: relative;
	margin: 0;
}
.blog-description {
	font-weight: 400;
	max-width: 540px;
	margin: 10px auto 0;
	position: relative;
	font-size: 25px;
}

/* MEDIA QUERIES */
/* Small devices (tablets, 768px and up) */
@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
	.meta-info-post {
		background-color: rgba(0, 0, 0, 0.5);
		color: #fff;
		height: 300px;
		left: 15px;
		padding: 20px;
		position: absolute;
		top: 1px;
		width: 25%;
		z-index: 10;
	}
	.published time,
	.tags a {
		color: #FFF;
	}
}

@media (max-width: 450px) {
	.meta-info-post {
		display: none;
	}
}


@media print {
	header .share {
		margin-top:30px;
	}
	header .container {
		padding-top:30px;
		padding-bottom:60px;
	}
	.meta {
		margin-top:10px;
	}
	article {
		padding:0;
	}
	.comments, footer {
		display: none;
	}
}
