
    <head>

	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="">


	    <title>Jesús CB - Page 2</title>


        <meta name="designer" content="Jesús Camacho">
        <meta name="author" content="Jesús Camacho">
        <meta name="rating" content="general">
        <meta name="keywords" content="ghost, blog, Jesús CB - Page 2">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="msapplication-TileImage" content="/assets/images/windows-tile.png?v=0e7632ba36">
        <meta name="msapplication-TileColor" content="#262A2D">

        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta property="og:title" content="Jesús CB - Page 2">
        <meta property="og:locale" content="en_US">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="Jesús CB - Page 2">

        <link rel="icon" href="../../favicon.ico">
        <link rel="icon" sizes="196x196" href="../../assets/images/android-homescreen.png?v=0e7632ba36">
        <link rel="apple-touch-icon" href="../../assets/images/apple-touch-icon.png?v=0e7632ba36">

            <link rel="prerender" href="../../content/images/2016/08/placeholder-big-2.jpg">
            <link rel="prefetch" href="../../content/images/2016/08/placeholder-big-2.jpg">
        <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Signika:300,700" rel="stylesheet">

        <link rel="stylesheet" href="../../assets/css/normalize.css?v=0e7632ba36">
        <link rel="stylesheet" href="../../assets/css/basics.css?v=0e7632ba36">
        <link rel="stylesheet" href="../../assets/css/animate.css?v=0e7632ba36">
        <link rel="stylesheet" href="../../assets/css/highlight.css?v=0e7632ba36">
        <link rel="stylesheet" href="../../assets/css/bootstrap.min.css?v=0e7632ba36">
        <link rel="stylesheet" href="../../assets/css/elakrab.css?v=0e7632ba36">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="../../assets/js/html5shiv-printshiv.js?v=0e7632ba36"></script>
        <script src="../../assets/js/respond.js?v=0e7632ba36"></script>

            <meta name="description" content="Developer Web &amp; SysAdmin">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://localhost:2368">
    <meta property="twitter:url" content="http://localhost:2368">
    <meta property="og:description" content="Developer Web &amp; SysAdmin">
    <meta property="twitter:description" content="Developer Web &amp; SysAdmin">
        <meta property="og:image" content="/content/images/2016/08/placeholder-big-2.jpg">
        <meta property="twitter:image" content="/content/images/2016/08/placeholder-big-2.jpg">


        <link rel="canonical" href="index.html">
    <meta name="referrer" content="origin-when-cross-origin">
    <link rel="prev" href="../../index.html">
    <meta name="generator" content="Ghost 0.9">
    <link rel="alternate" type="application/rss+xml" title="Jesús CB" href="../../rss/index.html">

    </head>
    <body class="paged archive-template">
        <div id="page">
            <header>
                <nav class="animated fadeIn navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ElakrabToggleMenu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="../../">
                            
                            <p class="title-blog">
                                Jesús CB
                            </p>
                        </a><!-- navbar-brand -->
                    </div><!-- navbar-header -->
                    <div id="ElakrabToggleMenu" class="collapse navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
    <!-- Loop through the navigation items -->
    <li class="nav-home"><a href="../../">Home</a></li>
    <li class="nav-sobre-mi"><a href="../../sobre-mi/">Sobre Mi</a></li>
    <li class="nav-blog"><a href="../../tag/blog/">Blog</a></li>
    <li class="nav-proyectos"><a href="../../tag/proyectos/">Proyectos</a></li>
    <li class="nav-documentaciones"><a href="../../tag/documentaciones/">Documentaciones</a></li>
    <li class="nav-traduciones"><a href="../../tag/traducciones/">Traduciones</a></li>
    <!-- End the loop -->
</ul>

                    </div><!-- #ElakrabGhostTheme -->
                </nav><!-- .navbar-default -->
            </header>

            <div class="container-fluid main-content-area">
                <div class="row">
                    <div id="content" class="">
                        



    <!-- Post in home -->
    <article class="post tag-blog col-md-8 col-md-offset-2">
        <div class="col-md-2 col-sm-2">
            <div class="meta-info-post text-right sample animated fadeIn">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time class="timeago" datetime="2016-05-21T17:56:00+00:00" title="May 21 '16 at 17:56">5 months ago</time>
    </div>
    <div class="tags animated fadeInUp">
            <strong>Tags</strong>
            <a href="../../tag/blog/">Blog</a>
    </div>
</div>
        </div><!-- .meta-info-post -->

        <div class="post-article col-md-10 col-sm-10">
            <div class="header-post sample animated fadeIn">
                <a href="../../hola-mundo/">
                    <div class="image-background animated fadeInRight" style="background-image: url(../../content/images/2016/08/learningtoprogram.jpg); background-size:cover; background-position: center;">
                        <div class="" data-stellar-ratio="0.75"></div>
                    </div>
                </a>
                <div class="animated fadeInUp">
                    <a href="../../hola-mundo/">
                        <h1 class="title-post">Nuevo por aquí</h1>
                    </a>
                </div>
            </div><!-- .header-post -->

            <div class="content-post animated fadeIn">
                <p class="excerpt">¡Hola Mundo! Me presento, soy Jesús Camacho y he estudiado Desarrollo de Aplicaciones Web y Administración de Sistemas y Redes. Si me hicieras escoger entre una de estas dos profesiones: no podría. Son mis dos pasiones y me encantan, ya sea crear una aplicación web, maquetarla, programar, front end o back end… hasta configurar un servidor web u otra tipo de infraestructura. Creo este sitio web con el objetivo de centralizar aquí mis proyectos y las documentaciones de dichos proyectos. Utilizo Ghost porque después de aprender a usarlo me parece una muy buena alternativa y para el uso que le…</p>
            </div><!-- .content-post -->
        </div><!-- .post-article -->
    </article>


    <nav class="col-md-8 col-md-offset-2" aria-label="...">
    <ul class="pager text-right">
        <li><a href="../../"><i class="fa fa-angle-left" aria-hidden="true"></i> Older</a></li>
        <span class="page-number text-center">Page 2 of 2</span>
    </ul>
</nav>


                    </div><!-- #content -->
                </div><!-- .row -->
            </div><!-- .main -->

            <footer id="footer" class="animated fadeInUp">
        		<div class="container-fluid">
        		     <div class="row">
        				<div class="col-md-12">
        					<div class="footer">
        						<p class="text-left">
                                    Jesús Camacho
        						</p>
                                <p class="text-right">
                                    <a href="https://gitlab.com/zagur/ElakrabGhostTheme">Elakrab Theme</a>
                                </p>
        					</div><!-- .footer -->
        				</div><!-- .col-md-12 -->
        			</div><!-- .row -->
        	    </div><!-- .container-fluid -->
        	</footer>

        </div><!-- #page -->

        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write('<script type="text/javascript" src="../../assets/js/jquery-1.11.3.min.js?v=0e7632ba36"></'+'script>');
        }
        </script>

        <script src="../../assets/js/fastclick.js?v=0e7632ba36"></script>
        <script src="../../assets/js/stellar.js?v=0e7632ba36"></script>
        <script src="../../assets/js/highlight.js?v=0e7632ba36"></script>
        <script src="../../assets/js/bootstrap.min.js?v=0e7632ba36"></script>
        <script src="../../assets/js/phantom.js?v=0e7632ba36"></script>
        <script src="../../assets/js/jquery.timeago.min.js?v=0e7632ba36"></script>

        <script>jQuery(document).ready(function() { jQuery("time.timeago").timeago(); });</script>

    </body>
