
    <head>

	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="">


	    <title>Libro de Trucos para GNU/Linux</title>


        <meta name="designer" content="Jesús Camacho">
        <meta name="author" content="Jesús Camacho">
        <meta name="rating" content="general">
        <meta name="keywords" content="ghost, blog, Libro de Trucos para GNU/Linux">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="msapplication-TileImage" content="/assets/images/windows-tile.png?v=0e7632ba36">
        <meta name="msapplication-TileColor" content="#262A2D">

        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta property="og:title" content="Libro de Trucos para GNU/Linux">
        <meta property="og:locale" content="en_US">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="Libro de Trucos para GNU/Linux">

        <link rel="icon" href="../favicon.ico">
        <link rel="icon" sizes="196x196" href="../assets/images/android-homescreen.png?v=0e7632ba36">
        <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png?v=0e7632ba36">

            <link rel="prerender" href="../content/images/2016/08/placeholder-big-2.jpg">
            <link rel="prefetch" href="../content/images/2016/08/placeholder-big-2.jpg">
        <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Signika:300,700" rel="stylesheet">

        <link rel="stylesheet" href="../assets/css/normalize.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/basics.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/animate.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/highlight.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/elakrab.css?v=0e7632ba36">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="../assets/js/html5shiv-printshiv.js?v=0e7632ba36"></script>
        <script src="../assets/js/respond.js?v=0e7632ba36"></script>

            <meta name="author" content="Jesús Camacho">
    <meta name="description" content="Sobre Libro De Trucos Los famosos cubos, que todos hemos montado alguna vez, había muy poco espacio y acabamos con comandos muy simples y siempre nos faltaba...">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://localhost:2368/libro-de-trucos-para-gnu-linux/">
    <meta property="twitter:url" content="http://localhost:2368/libro-de-trucos-para-gnu-linux/">
    <meta property="og:description" content="Sobre Libro De Trucos Los famosos cubos, que todos hemos montado alguna vez, había muy poco espacio y acabamos con comandos muy simples y siempre nos faltaba...">
    <meta property="twitter:description" content="Sobre Libro De Trucos Los famosos cubos, que todos hemos montado alguna vez, había muy poco espacio y acabamos con comandos muy simples y siempre nos faltaba...">
        <meta property="og:image" content="http://portallinux.es/librodetrucos/OldBackup/images/svg/portada.svg">
        <meta property="twitter:image" content="http://portallinux.es/librodetrucos/OldBackup/images/svg/portada.svg">


        <link rel="canonical" href="index.html">
    <meta name="referrer" content="origin-when-cross-origin">
    
    <meta property="og:site_name" content="Jesús CB">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Libro de Trucos para GNU/Linux">
    <meta property="og:description" content="Sobre Libro De Trucos Los famosos cubos, que todos hemos montado alguna vez, había muy poco espacio y acabamos con comandos muy simples y siempre nos faltaba alguno para hacer algo y teníamos que buscar por Internet en ayuda de Saint Google. Así que crear un libro de 6 páginas">
    <meta property="og:url" content="http://localhost:2368/libro-de-trucos-para-gnu-linux/">
    <meta property="og:image" content="http://portallinux.es/librodetrucos/OldBackup/images/svg/portada.svg">
    <meta property="article:published_time" content="2016-05-23T16:28:00.000Z">
    <meta property="article:modified_time" content="2016-08-25T16:35:48.000Z">
    <meta property="article:tag" content="LibroDeTrucos">
    <meta property="article:tag" content="GNU/Linux">
    <meta property="article:tag" content="Sistemas">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Libro de Trucos para GNU/Linux">
    <meta name="twitter:description" content="Sobre Libro De Trucos Los famosos cubos, que todos hemos montado alguna vez, había muy poco espacio y acabamos con comandos muy simples y siempre nos faltaba alguno para hacer algo y teníamos que buscar por Internet en ayuda de Saint Google. Así que crear un libro de 6 páginas">
    <meta name="twitter:url" content="http://localhost:2368/libro-de-trucos-para-gnu-linux/">
    <meta name="twitter:image" content="http://portallinux.es/librodetrucos/OldBackup/images/svg/portada.svg">
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="Jesús Camacho">
    <meta name="twitter:label2" content="Filed under">
    <meta name="twitter:data2" content="LibroDeTrucos, GNU/Linux, Sistemas">
    <meta name="twitter:site" content="@zagurito">
    <meta name="twitter:creator" content="@zagurito">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "Jesús CB",
        "logo": "http://localhost:2368/ghost/img/ghosticon.jpg"
    },
    "author": {
        "@type": "Person",
        "name": "Jesús Camacho",
        "image": "//www.gravatar.com/avatar/9620a9f3351ca1647c2548bb9d675b70?s=250&d=mm&r=x",
        "url": "http://localhost:2368/author/jesus/",
        "sameAs": [
            "http://www.portallinux.es",
            "https://twitter.com/zagurito"
        ],
        "description": "Desarrollo web y esas cosas. Autor de #PortalLinux, #PlanetLibre y #LibroDeTrucos. Me gusta el café, los gatos, la cerveza, dormir y el Heavy Metal.“BLABLABLA”"
    },
    "headline": "Libro de Trucos para GNU/Linux",
    "url": "http://localhost:2368/libro-de-trucos-para-gnu-linux/",
    "datePublished": "2016-05-23T16:28:00.000Z",
    "dateModified": "2016-08-25T16:35:48.000Z",
    "image": "http://portallinux.es/librodetrucos/OldBackup/images/svg/portada.svg",
    "keywords": "LibroDeTrucos, GNU/Linux, Sistemas",
    "description": "Sobre Libro De Trucos Los famosos cubos, que todos hemos montado alguna vez, había muy poco espacio y acabamos con comandos muy simples y siempre nos faltaba alguno para hacer algo y teníamos que buscar por Internet en ayuda de Saint Google. Así que crear un libro de 6 páginas"
}
    </script>

    <meta name="generator" content="Ghost 0.9">
    <link rel="alternate" type="application/rss+xml" title="Jesús CB" href="../rss/index.html">

    </head>
    <body class="post-template tag-librodetrucos tag-gnu-linux tag-sistemas">
        <div id="page">
            <header>
                <nav class="animated fadeIn navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ElakrabToggleMenu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="../">
                            
                            <p class="title-blog">
                                Jesús CB
                            </p>
                        </a><!-- navbar-brand -->
                    </div><!-- navbar-header -->
                    <div id="ElakrabToggleMenu" class="collapse navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
    <!-- Loop through the navigation items -->
    <li class="nav-home"><a href="../">Home</a></li>
    <li class="nav-sobre-mi"><a href="../sobre-mi/">Sobre Mi</a></li>
    <li class="nav-blog"><a href="../tag/blog/">Blog</a></li>
    <li class="nav-proyectos"><a href="../tag/proyectos/">Proyectos</a></li>
    <li class="nav-documentaciones"><a href="../tag/documentaciones/">Documentaciones</a></li>
    <li class="nav-traduciones"><a href="../tag/traducciones/">Traduciones</a></li>
    <!-- End the loop -->
</ul>

                    </div><!-- #ElakrabGhostTheme -->
                </nav><!-- .navbar-default -->
            </header>

            <div class="container-fluid main-content-area">
                <div class="row">
                    <div id="content" class="">
                        

    
    <header class="post-header-image animated fadeIn" style="background-image: url(http://portallinux.es/librodetrucos/OldBackup/images/svg/portada.svg);">
        <div class="col-md-8 col-md-offset-2" data-stellar-ratio="0.75">
            <div class="meta-info-post col-md-2">
                <div class="meta-info-post text-right sample animated fadeIn">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time class="timeago" datetime="2016-05-23T16:28:00+00:00" title="May 23 '16 at 16:28">5 months ago</time>
    </div>
    <div class="tags animated fadeInUp">
            <strong>Tags</strong>
            <a href="../tag/librodetrucos/">LibroDeTrucos</a><a href="../tag/gnu-linux/">GNU/Linux</a><a href="../tag/sistemas/">Sistemas</a>
    </div>
</div>
            </div><!-- .meta-info-post -->
            <div class="col-md-10">
                <h1 class="title-post">Libro de Trucos para GNU/Linux</h1>
            </div>
        </div>
    </header>

    <div class="article-content col-md-8 col-md-offset-2">
        <article class="animated fadeIn post tag-librodetrucos tag-gnu-linux tag-sistemas">
    <div class="content-post">
        <h1 id="sobrelibrodetrucos">Sobre Libro De Trucos</h1>

<p>Los famosos cubos, que todos hemos montado alguna vez, había muy poco espacio y acabamos con comandos muy simples y siempre nos faltaba alguno para hacer algo y teníamos que buscar por Internet en ayuda de Saint Google. Así que crear un libro de 6 páginas permite tener más comandos y comentarios necesarios para entender algunos comandos. Realmente hay tanto espacio que me he permetido el lujo de añadir un mini tutorial de como recuperar en grup en 4 sencillos pasos! Ya que todo el mundo le ha pasado, si no entiendes de tema, casi siempre rompes el grub sin darte cuenta (y yo soy el primero… por suerte se recuperarlo facilmente). Además, un problema que yo veía en los cubos, es que no sabía donde meterlos y/o guardarlos y se me acababan achafando un poco o despegando (a faltar de cartulina algunos los hacía con doble papel), pero estos problemas ya no existen con <a href="http://www.portallinux.es/librodetrucos"><strong>Libro de Trucos</strong></a> ya que es un librito muy pequeño de 10cm de ancho y 14cm de alto. Además esto permite que se pueda guardar y/o transportar fácilmente en un bolsillo, en una carpeta, entre las hojas de un libro, en el cajón, en el maletero…</p>

<h2 id="imgenes">Imágenes</h2>

<p><img src="../content/images/2016/08/librotrucos3.png" alt="Libro De Trucos">
</p><center> <br>
<img src="../content/images/2016/08/page12.png" alt="Páginas 1 y 2">

<p><img src="../content/images/2016/08/page34.png" alt="Páginas 3 y 4"></p>

<p><img src="../content/images/2016/08/page56.png" alt="Páginas 5 y 6"></p>

<p><img src="../content/images/2016/08/page07.png" alt="Páginas 0 y 7">
</p></center> <br>
<img src="../content/images/2016/08/librotrucosfilter.jpg" alt="Libro De Trucos Filter">

<h2 id="versionesdisponibles">Versiones disponibles</h2>

<p>Hasta ahora había pensado hacer 3 versiones (Debian, Red Hat y OpenSUSE) pero para un futuro he pensado hacer “Libros de Trucos” de otras distribuciones importantes (SlackWare, ArchLinux, Ubuntu (aunque el libro de Debian ya vale..); incluso de algunos programas como VIM, Emacs…). Básicamente las diferencias entre libros de Debian/RedHat/OpenSUSE son los comandos de instalación de paquetes ya que unos usan paquetería .DEB y otros .RPM o unos usan apt-get/aptitude y otros yum/zypper/yast.</p>

<h2 id="comomontarlo">Como montarlo</h2>

<iframe width="560" height="315" src="http://www.youtube.com/embed/Vjf1tv1W62o" frameborder="0"> </iframe>

<h2 id="descargar">Descargar</h2>

<p></p><center> <br>
<a href="http://www.portallinux.es/wp-content/descargas/LibroDeTrucos/PDF/LibroDeTrucos_DEBIAN.pdf" class="btn btn-success">Descargar Libro Debian</a> <a href="http://www.portallinux.es/wp-content/descargas/LibroDeTrucos/PDF/LibroDeTrucos_UBUNTU.pdf" class="btn btn-success">Descargar Libro Red Hat</a> <a href="http://www.portallinux.es/wp-content/descargas/LibroDeTrucos/PDF/LibroDeTrucos_OPENSUSE.pdf" class="btn btn-success">Descargar Libro OpenSUSE</a> <br>
</center> <br>
<center><a href="http://portallinux.es/librodetrucos/" class="btn btn-info">Descargar otros</a></center>

<h2 id="licencia">Licencia</h2>

<blockquote>
  <p>Libro de Trucos por Jesús Camacho se distribuye bajo una Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional.</p>
</blockquote>
    </div>
</article>
        <div class="share">
    <ul class="navbar-right list-inline">
        <li>Share this: </li>
        <li>
            <a role="button" class="btn bnt-default" href="http://twitter.com/share?text=Libro%20de%20Trucos%20para%20GNU%2FLinux&amp;url=http://localhost:2368/libro-de-trucos-para-gnu-linux/">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </a>
        </li>
        <li>
            <a role="button" class="btn bnt-default" href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:2368/libro-de-trucos-para-gnu-linux/">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </a>
        </li>
        <li>
            <a role="button" class="btn bnt-default" href="https://plus.google.com/share?url=http://localhost:2368/libro-de-trucos-para-gnu-linux/">
                <i class="fa fa-google-plus" aria-hidden="true"></i> Google+
            </a>
        </li>
    </ul>
</div>
    </div>

    <div class="author-post col-md-8 col-md-offset-2 animated fadeIn clearfix">
        <div class="col-md-1 col-md-offset-1">
            <img class="img-responsive img-circle" src="http://www.gravatar.com/avatar/9620a9f3351ca1647c2548bb9d675b70?s=250&amp;d=mm&amp;r=x" alt="Jesús Camacho">
        </div>
        <div class="col-md-8">
            <div class="info">
                <a href="../author/jesus/" class="name">Jesús Camacho</a>
                <p class="bio">Desarrollo web y esas cosas. Autor de #PortalLinux, #PlanetLibre y #LibroDeTrucos. Me gusta el café, los gatos, la cerveza, dormir y el Heavy Metal.“BLABLABLA”</p>
            </div>
            <ul class="navbar-right list-inline">
                <li><a href="https://twitter.com/zagurito"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li>
            </ul>
        </div>
    </div><!-- author-post -->



                    </div><!-- #content -->
                </div><!-- .row -->
            </div><!-- .main -->

            <footer id="footer" class="animated fadeInUp">
        		<div class="container-fluid">
        		     <div class="row">
        				<div class="col-md-12">
        					<div class="footer">
        						<p class="text-left">
                                    Jesús Camacho
        						</p>
                                <p class="text-right">
                                    <a href="https://gitlab.com/zagur/ElakrabGhostTheme">Elakrab Theme</a>
                                </p>
        					</div><!-- .footer -->
        				</div><!-- .col-md-12 -->
        			</div><!-- .row -->
        	    </div><!-- .container-fluid -->
        	</footer>

        </div><!-- #page -->

        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write('<script type="text/javascript" src="../assets/js/jquery-1.11.3.min.js?v=0e7632ba36"></'+'script>');
        }
        </script>

        <script src="../assets/js/fastclick.js?v=0e7632ba36"></script>
        <script src="../assets/js/stellar.js?v=0e7632ba36"></script>
        <script src="../assets/js/highlight.js?v=0e7632ba36"></script>
        <script src="../assets/js/bootstrap.min.js?v=0e7632ba36"></script>
        <script src="../assets/js/phantom.js?v=0e7632ba36"></script>
        <script src="../assets/js/jquery.timeago.min.js?v=0e7632ba36"></script>

        <script>jQuery(document).ready(function() { jQuery("time.timeago").timeago(); });</script>

    </body>
