<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Getting Started - Ghost</title>
    <meta name="description" content="">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../../favicon.ico">

    <link rel="stylesheet" type="text/css" href="../../assets/css/screen.css?v=037fd1431e">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic%7COpen+Sans:700,400">

    <link rel="canonical" href="index.html">
    <meta name="referrer" content="origin-when-cross-origin">
    
    <meta property="og:site_name" content="Ghost">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Getting Started - Ghost">
    <meta property="og:url" content="http://localhost:2368/tag/getting-started/">
    <meta property="article:modified_time" content="2016-08-24T17:14:50.000Z">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Getting Started - Ghost">
    <meta name="twitter:url" content="http://localhost:2368/tag/getting-started/">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Series",
    "publisher": "Ghost",
    "url": "http://localhost:2368/tag/getting-started/",
    "name": "Getting Started"
}
    </script>

    <meta name="generator" content="Ghost 0.9">
    <link rel="alternate" type="application/rss+xml" title="Ghost" href="../../rss/index.html">
</head>
<body class="tag-template tag-getting-started nav-closed">

    <div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="index.html#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
            <li class="nav-home" role="presentation"><a href="../../">Home</a></li>
    </ul>
        <a class="subscribe-button icon-feed" href="../../rss/index.rss">Subscribe</a>
</div>
<span class="nav-cover"></span>


    <div class="site-wrapper">

        
<header class="main-header tag-head no-cover">
    <nav class="main-nav overlay clearfix">
        
            <a class="menu-button icon-menu" href="index.html#"><span class="word">Menu</span></a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Getting Started</h1>
            <h2 class="page-description">
                    A 1-post collection
            </h2>
        </div>
    </div>
</header>

<main class="content" role="main">

    <div class="extra-pagination inner">
    <nav class="pagination" role="navigation">
    <span class="page-number">Page 1 of 1</span>
</nav>

</div>

<article class="post tag-getting-started">
    <header class="post-header">
        <h2 class="post-title"><a href="../../welcome-to-ghost/">Welcome to Ghost</a></h2>
    </header>
    <section class="post-excerpt">
        <p>You're live! Nice. We've put together a little post to introduce you to the Ghost editor and get you started. You can manage your content by <a class="read-more" href="../../welcome-to-ghost/">»</a></p>
    </section>
    <footer class="post-meta">
        
        <a href="http://localhost:2368/author/ghost-owner/">Ghost Owner</a>
         on <a href="index.html">Getting Started</a>
        <time class="post-date" datetime="2016-08-24">24 August 2016</time>
    </footer>
</article>

<nav class="pagination" role="navigation">
    <span class="page-number">Page 1 of 1</span>
</nav>


</main>


        <footer class="site-footer clearfix">
            <section class="copyright"><a href="../../">Ghost</a> © 2016</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>

    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    
    <script type="text/javascript" src="../../assets/js/jquery.fitvids.js?v=037fd1431e"></script>
    <script type="text/javascript" src="../../assets/js/index.js?v=037fd1431e"></script>

</body>
