
    <head>

	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="description" content="">


	    <title>Sobre mi</title>


        <meta name="designer" content="Jesús Camacho">
        <meta name="author" content="Jesús Camacho">
        <meta name="rating" content="general">
        <meta name="keywords" content="ghost, blog, Sobre mi">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="msapplication-TileImage" content="/assets/images/windows-tile.png?v=0e7632ba36">
        <meta name="msapplication-TileColor" content="#262A2D">

        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <meta property="og:title" content="Sobre mi">
        <meta property="og:locale" content="en_US">

        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="Sobre mi">

        <link rel="icon" href="../favicon.ico">
        <link rel="icon" sizes="196x196" href="../assets/images/android-homescreen.png?v=0e7632ba36">
        <link rel="apple-touch-icon" href="../assets/images/apple-touch-icon.png?v=0e7632ba36">

            <link rel="prerender" href="../content/images/2016/08/placeholder-big-2.jpg">
            <link rel="prefetch" href="../content/images/2016/08/placeholder-big-2.jpg">
        <link rel="dns-prefetch" href="http://fonts.googleapis.com/">
        <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Signika:300,700" rel="stylesheet">

        <link rel="stylesheet" href="../assets/css/normalize.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/basics.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/animate.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/highlight.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css?v=0e7632ba36">
        <link rel="stylesheet" href="../assets/css/elakrab.css?v=0e7632ba36">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="../assets/js/html5shiv-printshiv.js?v=0e7632ba36"></script>
        <script src="../assets/js/respond.js?v=0e7632ba36"></script>

            <meta name="author" content="Jesús Camacho">
    <meta name="description" content="Jesús Camacho Desarrollador web y Administrador de Sistemas #PortalLinux #LibroDeTrucos #PlanetLibre #SoftwareLibre #GPL #OpenSource #GNU/Linux #Bash #Hea...">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://localhost:2368/sobre-mi/">
    <meta property="twitter:url" content="http://localhost:2368/sobre-mi/">
    <meta property="og:description" content="Jesús Camacho Desarrollador web y Administrador de Sistemas #PortalLinux #LibroDeTrucos #PlanetLibre #SoftwareLibre #GPL #OpenSource #GNU/Linux #Bash #Hea...">
    <meta property="twitter:description" content="Jesús Camacho Desarrollador web y Administrador de Sistemas #PortalLinux #LibroDeTrucos #PlanetLibre #SoftwareLibre #GPL #OpenSource #GNU/Linux #Bash #Hea...">
        <meta property="og:image" content="/content/images/2016/08/placeholder-big.jpg">
        <meta property="twitter:image" content="/content/images/2016/08/placeholder-big.jpg">


        <link rel="canonical" href="index.html">
    <meta name="referrer" content="origin-when-cross-origin">
    
    <meta property="og:site_name" content="Jesús CB">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sobre mi">
    <meta property="og:description" content='Jesús Camacho Desarrollador web y Administrador de Sistemas #PortalLinux #LibroDeTrucos #PlanetLibre #SoftwareLibre #GPL #OpenSource #GNU/Linux #Bash #HeavyMetal #Beer   "Cuando era niño e iba al colegio, los profesores intentaban enseñarnos a compartir. Decían “Si traes caramelos, no te los puedes comer tú sólo, tienes que compartir con los demás niños.'>
    <meta property="og:url" content="http://localhost:2368/sobre-mi/">
    <meta property="og:image" content="http://localhost:2368/content/images/2016/08/placeholder-big.jpg">
    <meta property="article:tag" content="About">
    <meta property="article:tag" content="Sobre Mi">
    <meta property="article:tag" content="Acerca de">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Sobre mi">
    <meta name="twitter:description" content='Jesús Camacho Desarrollador web y Administrador de Sistemas #PortalLinux #LibroDeTrucos #PlanetLibre #SoftwareLibre #GPL #OpenSource #GNU/Linux #Bash #HeavyMetal #Beer   "Cuando era niño e iba al colegio, los profesores intentaban enseñarnos a compartir. Decían “Si traes caramelos, no te los puedes comer tú sólo, tienes que compartir con los demás niños.'>
    <meta name="twitter:url" content="http://localhost:2368/sobre-mi/">
    <meta name="twitter:image" content="http://localhost:2368/content/images/2016/08/placeholder-big.jpg">
    <meta name="twitter:label1" content="Written by">
    <meta name="twitter:data1" content="Jesús Camacho">
    <meta name="twitter:label2" content="Filed under">
    <meta name="twitter:data2" content="About, Sobre Mi, Acerca de">
    <meta name="twitter:site" content="@zagurito">
    <meta name="twitter:creator" content="@zagurito">
    
    <script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Article",
    "publisher": {
        "@type": "Organization",
        "name": "Jesús CB",
        "logo": "http://localhost:2368/ghost/img/ghosticon.jpg"
    },
    "author": {
        "@type": "Person",
        "name": "Jesús Camacho",
        "image": "//www.gravatar.com/avatar/9620a9f3351ca1647c2548bb9d675b70?s=250&d=mm&r=x",
        "sameAs": [
            "http://www.portallinux.es",
            "https://twitter.com/zagurito"
        ],
        "description": "Desarrollo web y esas cosas. Autor de #PortalLinux, #PlanetLibre y #LibroDeTrucos. Me gusta el café, los gatos, la cerveza, dormir y el Heavy Metal.“BLABLABLA”"
    },
    "headline": "Sobre mi",
    "url": "http://localhost:2368/sobre-mi/",
    "image": "http://localhost:2368/content/images/2016/08/placeholder-big.jpg",
    "keywords": "About, Sobre Mi, Acerca de",
    "description": "Jesús Camacho Desarrollador web y Administrador de Sistemas #PortalLinux #LibroDeTrucos #PlanetLibre #SoftwareLibre #GPL #OpenSource #GNU/Linux #Bash #HeavyMetal #Beer   &quot;Cuando era niño e iba al colegio, los profesores intentaban enseñarnos a compartir. Decían “Si traes caramelos, no te los puedes comer tú sólo, tienes que compartir con los demás niños."
}
    </script>

    <meta name="generator" content="Ghost 0.9">
    <link rel="alternate" type="application/rss+xml" title="Jesús CB" href="../rss/index.html">

    </head>
    <body class="post-template page-template page tag-about tag-sobre-mi tag-acerca-de">
        <div id="page">
            <header>
                <nav class="animated fadeIn navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ElakrabToggleMenu" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <a class="navbar-brand" href="../">
                            
                            <p class="title-blog">
                                Jesús CB
                            </p>
                        </a><!-- navbar-brand -->
                    </div><!-- navbar-header -->
                    <div id="ElakrabToggleMenu" class="collapse navbar-collapse" role="navigation">
                        <ul class="nav navbar-nav navbar-right">
    <!-- Loop through the navigation items -->
    <li class="nav-home"><a href="../">Home</a></li>
    <li class="nav-sobre-mi nav-current"><a href="index.html">Sobre Mi</a></li>
    <li class="nav-blog"><a href="../tag/blog/">Blog</a></li>
    <li class="nav-proyectos"><a href="../tag/proyectos/">Proyectos</a></li>
    <li class="nav-documentaciones"><a href="../tag/documentaciones/">Documentaciones</a></li>
    <li class="nav-traduciones"><a href="../tag/traducciones/">Traduciones</a></li>
    <!-- End the loop -->
</ul>

                    </div><!-- #ElakrabGhostTheme -->
                </nav><!-- .navbar-default -->
            </header>

            <div class="container-fluid main-content-area">
                <div class="row">
                    <div id="content" class="">
                        

    
    <header class="post-header-image animated fadeIn" style="background-image: url(../content/images/2016/08/placeholder-big.jpg)">
        <div class="col-md-8 col-md-offset-2" data-stellar-ratio="0.75">
            <div class="meta-info-post col-md-2">
                <div class="meta-info-post text-right sample animated fadeIn">
    <div class="published animated fadeInUp">
        <strong>Published</strong>
        <time class="timeago" datetime="2016-08-25T15:41:31+00:00" title="August 25 '16 at 15:41">2 months ago</time>
    </div>
    <div class="tags animated fadeInUp">
            <strong>Tags</strong>
            <a href="../tag/about/">About</a><a href="../tag/sobre-mi/">Sobre Mi</a><a href="../tag/acerca-de/">Acerca de</a>
    </div>
</div>
            </div><!-- .meta-info-post -->
            <div class="col-md-10">
                <h1 class="title-post">Sobre mi</h1>
            </div>
        </div>
    </header>

    <div class="article-content col-md-8 col-md-offset-2">
        <article class="animated fadeIn post tag-about tag-sobre-mi tag-acerca-de page">
    <div class="content-post">
        <p></p><center>  

<h1 id="jesscamacho">Jesús Camacho</h1>

<h3 id="desarrolladorwebyadministradordesistemas">Desarrollador web y Administrador de Sistemas</h3>

<p><a href="http://portallinux.es">#PortalLinux</a>
<a href="http://portallinux.es/librodetrucos">#LibroDeTrucos</a>
<a href="http://planetlibre.es">#PlanetLibre</a></p>

<p><a href="index.html">#SoftwareLibre</a>
<a href="index.html">#GPL</a>
<a href="index.html">#OpenSource</a>
<a href="index.html">#GNU/Linux</a>
<a href="index.html">#Bash</a>
<a href="index.html">#HeavyMetal</a>
<a href="index.html">#Beer</a>
</p></center>

<blockquote>
  <p>"Cuando era niño e iba al colegio, los profesores intentaban enseñarnos a compartir. Decían “Si traes caramelos, no te los puedes comer tú sólo, tienes que compartir con los demás niños.” pero ahora la administración dice que los profesores deberían enseñarle a los niños a decir “Sí” a la autorización. Si traes Software al colegio “Oh no! ¡No lo compartas! Compartir significa que eres un pirata” Compartir significa que te meterán en la cárcel. Esa no es la forma en la que debería de funcionar la sociedad." – Richard M. Stallman</p>
</blockquote>

<h2 id="conocimientos">Conocimientos</h2>

<div class="table-responsive">  
    <table class="table table-condensed">
        <thead>
            <th>

            </th>
            <th>
                <strong>Mis conocimientos</strong>
            </th>
        </thead>
        <tbody>
            <tr>
                <th class="text-right">
                    SISTEMAS OPERATIVOS
                </th>
                <th>
                    GNU/Linux (Distribuciones basadas en Debian, Red Hat, Slackware), Microsoft Windows (Versiones 7, 8, 81, i 10), FreeBSD (pfSense) y Android
                </th>
            </tr>
            <tr>
                <th class="text-right">
                    PROGRAMACIÓN
                </th>
                <th>
                    Java (Nivel medio), Bash, Python
                </th>
            </tr>
            <tr>
                <th class="text-right">
                    SERVICIOS INFORMÁTICOS
                </th>
                <th>
                    DNS, DHCP, Servidor Web (Apache), Servidor de Correo, FTP, SSH, PxE, Servidores Multimedia
                </th>
            </tr>
            <tr>
                <th class="text-right">
                    VIRTUALIZACIÓN
                </th>
                <th>
                    VirtualBox, VMware, Proxmox VE
                </th>
            </tr>
            <tr>
                <th class="text-right">
                    REDES
                </th>
                <th>
                    HTML5, CSS3 (Bootstrap), PHP (Nivel básico), SQL, JavaScript (Nivel medio) y SEO
                </th>
            </tr>
            <tr>
                <th class="text-right">
                    APLICACIONES WEB
                </th>
                <th>
                    WordPress, Drupal, Joomla!, MediaWiki, moodle, GLPI, Jekyll, Ghost.
                </th>
            </tr>
            <tr>
                <th class="text-right">
                    DISEÑO
                </th>
                <th>
                    Inkscape y GIMP
                </th>
            </tr>
            <tr>
                <th class="text-right">
                    OTROS
                </th>
                <th>
                    Docker (virtualización de servicios)
                </th>
            </tr>
        </tbody>
    </table>
</div>

<h2 id="formacinacadmica">Formación Académica</h2>

<div class="table-responsive">  
    <table class="table table-condensed">
        <thead>
            <th>

            </th>
            <th>
                <strong>Formación Académica</strong>
            </th>
        </thead>
        <tbody>
            <tr>
                <th class="text-right">
                    Septiembre 2015 - Actualmente
                </th>
                <th>
                    CFGS - DESARROLLO DE APLICACIONES WEB
                </th>
            </tr>
            <tr>
                <th>

                </th>
                <th>
                    IES Carles Vallbona (Granollers)
                </th>
            </tr>
            <tr>
                <th class="text-right">
                    Septiembre 2013 - Junio 2015
                </th>
                <th>
                    CFGS - ADMINISTRACIÓN DE SISTEMAS INFORMÁTICOS Y REDES
                </th>
            </tr>
            <tr>
                <th>

                </th>
                <th>
                    IES Carles Vallbona (Granollers)
                </th>
            </tr>
            <tr>
                <th class="text-right">
                    Septiembre 2011 - Junio 2013
                </th>
                <th>
                    CFGS - MICROSISTEMAS INFORMATICOS Y REDES
                </th>
            </tr>
            <tr>
                <th>

                </th>
                <th>
                    IES Thos i Codina (Mataró)
                </th>
            </tr>
            <tr>
                <th class="text-right">
                    Septiembre 2006 - Junio 2011
                </th>
                <th>
                    BACHILLERATO - CIENTIFICOTECNICO
                </th>
            </tr>
            <tr>
                <th>

                </th>
                <th>
                    IES Alexandre Satorras (Mataró)
                </th>
            </tr>            
        </tbody>
    </table>
</div>

<p><a href="http://zagur.gitlab.io/projects">Visita mis proyectos</a></p>
    </div>
</article>
    </div>


                    </div><!-- #content -->
                </div><!-- .row -->
            </div><!-- .main -->

            <footer id="footer" class="animated fadeInUp">
        		<div class="container-fluid">
        		     <div class="row">
        				<div class="col-md-12">
        					<div class="footer">
        						<p class="text-left">
                                    Jesús Camacho
        						</p>
                                <p class="text-right">
                                    <a href="https://gitlab.com/zagur/ElakrabGhostTheme">Elakrab Theme</a>
                                </p>
        					</div><!-- .footer -->
        				</div><!-- .col-md-12 -->
        			</div><!-- .row -->
        	    </div><!-- .container-fluid -->
        	</footer>

        </div><!-- #page -->

        

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript">
        if (typeof jQuery == 'undefined') {
            document.write('<script type="text/javascript" src="../assets/js/jquery-1.11.3.min.js?v=0e7632ba36"></'+'script>');
        }
        </script>

        <script src="../assets/js/fastclick.js?v=0e7632ba36"></script>
        <script src="../assets/js/stellar.js?v=0e7632ba36"></script>
        <script src="../assets/js/highlight.js?v=0e7632ba36"></script>
        <script src="../assets/js/bootstrap.min.js?v=0e7632ba36"></script>
        <script src="../assets/js/phantom.js?v=0e7632ba36"></script>
        <script src="../assets/js/jquery.timeago.min.js?v=0e7632ba36"></script>

        <script>jQuery(document).ready(function() { jQuery("time.timeago").timeago(); });</script>

    </body>
